/* @title States and provinces */
[@sd > 20M] [@sd < 70M] { 
  label: [name];
  label-anchor: 0.5 0.5;
  font-family: 'Noto Sans';
  font-size: 10;
  font-fill: black;
  halo-color: white;
  halo-radius: 1;
  halo-opacity: 50%;
  label-auto-wrap: 70;
  label-max-displacement: 50;
  label-fit-goodness: 0.8;
  label-priority: 50M;
}