/* @title Marine names */
[@sd > 20M][@sd < 70M] {
  label: [strToUppercase(name)];
  font-family: 'Noto Sans';
  font-weight: bold;
  font-fill: lighten(desaturate(darkblue, 80%), 20%);
  font-size: 10;
  label-priority: 100M;
  label-auto-wrap: 80;
  label-max-displacement: 100;
  label-fit-goodness: 1;
  label-char-spacing: 1.5;
}