<passwordPolicy>
  <id>4bdaa397:17fb2c94f63:-7ff6</id>
  <name>master</name>
  <className>org.geoserver.security.validation.PasswordValidatorImpl</className>
  <uppercaseRequired>false</uppercaseRequired>
  <lowercaseRequired>false</lowercaseRequired>
  <digitRequired>false</digitRequired>
  <minLength>8</minLength>
  <maxLength>-1</maxLength>
</passwordPolicy>